-title(t('views.controls.about'))

.well
  %p
    Блог о всяком - разном в мире IT.
  %p
    Здесь мои замечания, наблюдения и просто информация, которой я не могу не поделиться.
  %p    
    = link_to 'Коротко обо мне', '/ru/cv'
