-title(t('views.controls.about'))

.well
  %p
    Блог о всяком - разном в мире IT.
  %p
    Здесь мои замечания, наблюдения и просто информация, которой я не могу не поделиться.
  %p
    Если возникли вопросы или предложения, пишите мне на
    %i
      lon10@rambler.ru