Добавление нового поста
%br
%br

= simple_form_for @post, url: admin_posts_path do |f|

  = f.input :title, label: 'Название'
  = f.input :text, label: 'Текст'

  = f.submit 'Добавить', class: 'btn btn-primary'